/*#938478
#D0BDA6
#624638
*/

/*Google Font*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
 /* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #000000;
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
  }

  header {
    display: flex;
    position: fixed;
    z-index: 99;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
    height:113px;
  
    .logo {
      width: 200px;
      height: 100px;
    }

}
    
  /* Side-element */
  #choicearea {
    height: 80%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 100px;
    left: 0;
    overflow-x: hidden;
    align-content: center;
  }
 .rule, .solution, .reset {
      width: 120px;
      height: 120px;
      padding: 15px;
      }
 
  /* gamearea */
  #gamearea {
    margin-left: 200px;
    padding-left: 20px;
  }
  
  .scorearea {
    width: 500px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
    justify-content: center;
    align-items: center;
   }

.board {
  height:500px;
  width: 500px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  background-color: #aabbcb;
  margin-bottom: 20px;
  margin-top: 20px;
        }
 
#controlarea {
  width: 433px;
  height: 50px;
  background-color: #938478;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
}
.links{
right:0;
}




  /* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {
}
    /* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
}
/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
}
/* Largest devices (laptops and desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
}
